{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}QuestEdge Admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'admin/css/professional_admin.css' %}">
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div class="admin-section pewter-blue" style="text-align: center;">
        <h2>Welcome QuestEdge Admin</h2>
    </div>
    {% block content %}
        {% block nav-global %}{% endblock %}
        {% block content-title %}{% endblock %}
        {% block object-tools %}{% endblock %}
        {% block content-main %}{% endblock %}
    {% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>